body {
    background: white !important;
}

.parent {
    padding: 5em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
    
.div1 { min-height: 15em; max-height: 23em; background: whitesmoke;grid-area: 1 / 1 / 4 / 4; }
.div2 { min-height: 15em; max-height: 23em; background: whitesmoke;grid-area: 1 / 4 / 4 / 6; }
.div3 { min-height: 15em; max-height: 23em; background: whitesmoke;grid-area: 4 / 3 / 6 / 6; }
.div4 { min-height: 15em; max-height: 23em; grid-area: 4 / 1 / 6 / 3; }


.div2::-webkit-scrollbar{
    width: 5px;
}
.div2::-webkit-scrollbar-track {
        margin-top:70px;
        margin-bottom: 30px;
}
.div2::-webkit-scrollbar-thumb{
    background: #a0a0a0;
    border-radius: 10px;
}